<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="/">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="/about">About</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation">
            <a href="/Resources">Resources</a>
            <ul style="padding:0%;padding-left: 1rem;" class="nested">
                <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"> <a href="/tutorials">• Tutorials</a></li>
                <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"> <a href="/use-cases">• Use Cases</a></li>
                <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"> <a href="/literature">• Literature</a></li>
            </ul>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="/Partnerships">Partnerships</a></li>
    </ul>
</div>
<span class="nav-cover"></span>
